<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="new-rest">
        <h1>Restaurant Info</h1>
        <form method="POST">
            <label id="newRestName">Restaurant Name:</label></br>
            <input type="text" name="newRestName"></br></br>
            <label id="newRestAddress">Address:</label></br>
            <input type="number" min="0" max="5" name="newRestAddress"></br></br>
            <label id="newRestCat">Category:</label></br>
            <textarea type="text" name="newRestCat"></textarea></br></br>
            <input type="submit">
        </form>
    </div>
</body>
</html>